.btn {
  border-radius: 8px;
  font-weight: 700;
  display: block;
  width: fit-content;
  height: 48px;
  font-weight: 500;
  box-shadow: none;
  outline: none;
  padding-block: 14px;
  font-size: 18px;
  transition: opacity .2s;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  padding: .375rem .75rem;
  user-select: none;
  opacity: 1;
  &:hover {
    opacity: .9;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: gray;
    color: black;
  }
}

.btn-sm {
  height: fit-content;
  width: fit-content;
}

.btn-fill {
  width: 100%;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.btn-outline-primary {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);

  &:hover {
    background-color: var(--primary);
    color: var(--white);
  }
}