.form-group {
  display: flex;
  flex-direction: column;
}

.form-input-wrapper {
  position: relative;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  
  & button {
    position: absolute;
    left: 98%;
    top: 50%;
    transform: translateY(-50%) translateX(-98%);
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      height: 1rem;
      width: 1rem;
    }
  }
}

.form-control {
  border-radius: 4px;
  height: 38px;
  border: 1px solid var(--black);
  font-size: 16px;
  padding-right: 6px;
  padding-left: 6px;
}